<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Product Details</h1>
    <form action="/add-product" method="post" onsubmit="return validateForm()">
        <label for="productname">Product Name:</label>
        <input type="text" id="productname" name="productname" required>
        <label for="productcategory">Product Category:</label>
        <input type="text" name="productcategory" id="productcategory" required>
        <label for="productdiscount">Discount(in Percent):</label>
        <input type="number" name="productdiscount" id="productdiscount">
        <label for="productcostprice">Cost Price(in Dollars):</label>
        <input type="number" name="productcostprice" id="productcostprice" required>
        <label for="productsellprice">Sell Price(in Dollars):</label>
        <input type="number" name="productsellprice" id="productsellprice" required>
        <button type="submit">Add Product</button>
    </form>

    <table>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Discount</th>
            <th>Cost Price</th>
            <th>Selling Price</th>
        </tr>
        <% products.forEach(product=> { %>
            <tr>
                <td>
                    <%= product.productname %>
                </td>
                <td>
                    <%= product.productcategory %>
                </td>
                <td>
                    <%= product.productdiscount %>%
                </td>
                <td>$<%= product.productcostprice %>
                </td>
                <td>$<%= product.productsellprice %>
                </td>
            </tr>
            <% }) %>
    </table>

    <script>
        function validateForm() {
            const name = document.getElementById('productname').value;
            const category = document.getElementById('productcategory').value;
            const cprice = document.getElementById('productcostprice').value;
            const sprice = document.getElementById('productsellprice').value;

            if (!name || !category) {
                alert('Both fields are required!');
                return false;
            }

            if ((isNaN(cprice) || cprice <= 0) && (isNaN(sprice) || sprice <= 0)) {
                alert('Please enter valid Prices!!! ');
                return false;
            }

            if (Number(cprice) > Number(sprice)) {
                alert('Reminder : Cost Price should be less than Selling Price!!!')
                return false;
            }
            return true;
        }
    </script>
</body>

</html>